streamlit
pandas
numpy
matplotlib
scikit-learn
joblib
textblob
sentence-transformers
PyPDF2
PyMuPDF
pdf2image
pytesseract
Pillow
wikipedia
shap
fpdf
# pyaudio ← REMOVE THIS LINE  [because streamlit cloud cant use this. so this feature doesnot work in cloud]
# SpeechRecognition ← REMOVE this too if not used
